
@model ProyectoEcommerce.Models.CatalogoViewModel

    <h2 class=" text-center text-white">Catálogo de Productos</h2>

<style type="text/css">
    .card {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        border: 1px solid lightgray;
        box-shadow: 2px 2px 8px 4px #d3d3d3d1;
        border-radius: 15px;
        font-family: sans-serif;
        margin: 5px;
    }
</style>

@if (TempData["ALertMessage"] != null)
{
    <div class=" alert alert-success">
        <strong> Listo!!---</strong>@TempData["AlertMessage"]
    </div>
}

<hr />

<div class="mb-2">
    <a asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParm"]">Ordenar por Nombre</a>&nbsp;&nbsp;    
</div>


<div class="mb-2">
    @foreach (var item in Model.Categorias)
    
    {
        
        <a asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParm"]">@item.Nombre&nbsp;&nbsp;</a>
       
    }
</div>


@*<div class="mb-2">
    @foreach (var item in Model.Categorias)
    {
        <span>@item.Nombre&nbsp;&nbsp;</span>
    }
</div>*@



<form asp-action="Index" method="get">
    <div class="form-actions no-color">
        <p>
            Buscar: <input type="text" name="SearchString" value="@ViewData["CurrentFilter"]" />
            <input type="submit" value="Buscar" class="btn-sm btn-info"/>           
            <a asp-action="Index" class="btn-sm btn-success">Ver Todos los Productos</a>
        </p>
    </div>
</form>

@if (Model.Cantidad > 0)
{   
    <a onclick="showInPopup('@Url.Action("VerCarrito", "Home", Context.Request.Scheme)' ,
                            '')" class="btn-sm btn-success"><i class=" fas fa-shopping-cart fa-beat"></i> Ver Carro de Compras(@Model.Cantidad) </a>

}

<hr />

<div class="row text-center animate__animated animate__bounceInLeft">
    @if (Model.Productos.Count() > 0)
    {
        <div class="row">
            @foreach (var producto in Model.Productos)
            {
                <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4 mb-3">
                    <div class="card shadow">
                        <div class=" card-title text-center">
                            <h5>@producto.Nombre</h5>
                        </div>
                        <div class="card-body">                           
                            <div class=" zoom">
                                <img class="img-fluid" src="@producto.URLFoto" alt="Imagen del Producto" style="height:100px; max-width:150px;">
                            </div>
                            <p class="card-text">Precio: @producto.Precio</p>
                        </div>
                        <div class="card-footer text-center">
                            <a onclick="showInPopup('@Url.Action("Detalles", "Home", new { id =producto.Id }, Context.Request.Scheme)' ,
                            '')" class="btn btn-info btn-sm">Ver Detalles </a>                           
                            <a asp-action="AgregarAlCarrito" asp-route-id="@producto.Id" class="btn btn-sm btn-success">Agregar al carrito</a>
                        </div>
                    </div>
                </div>
            }
        </div>
    }
    else
    {
        <h3>No hay productos con su criterio de búsqueda</h3>
    }
</div>

<partial name="_MostrarModal" />

@{
    var prevDisabled = !Model.Productos.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.Productos.HasNextPage ? "disabled" : "";
}
<div class="mt-5">
    <a asp-action="Index"
       asp-route-sortOrder="@ViewData["CurrentSort"]"
       asp-route-pageNumber="@(Model.Productos.PageIndex - 1)"
       asp-route-currentFilter="@ViewData["CurrentFilter"]"
       class="btn-sm btn-info @prevDisabled">
        Anterior
    </a>
    <a asp-action="Index"
       asp-route-sortOrder="@ViewData["CurrentSort"]"
       asp-route-pageNumber="@(Model.Productos.PageIndex + 1)"
       asp-route-currentFilter="@ViewData["CurrentFilter"]"
       class="btn-sm btn-success @nextDisabled">
        Siguiente
    </a>
</div>


@section Scripts{
    <script src="~/js/showmodal.js"></script>
}

